@import 'global';
@import 'vars';
@import 'reset';

.notification {
    // background-color: $bg_color;
    background: rgba(255, 255, 255, 0.8);
    padding: 23px;
    border-radius: 12px;
    margin-bottom: 20px;
    width: 400px;
    animation: left 0.4s;
    animation-fill-mode: forwards;
    
    display: flex;
    align-items: center;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 200px 0px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    // border: 2px solid $primary_color;
    backdrop-filter: saturate(180%) blur(5px);

    &__img{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        svg {
            // fill: $bg_color;
            width: 40px;
            height: 40px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 0px;
    }
    &__list {
        position: fixed;
        bottom: 20px;
        right: 120px;
        width: 300px;
        z-index: 999;
    }

    &.exit {
        animation: right 0.4s;
        animation-fill-mode: forwards;
    }

    &__line {
        height: 4px;
        border-radius: 20px;
        background-color: $bg_color;
        margin-top: 10px;
    }

    @keyframes left {
        0% {
            margin-left: 150%;
        }

        100% {
            margin-left: 0;
        }
    }

    @keyframes right {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: 150%;
        }
    }

    @keyframes bottom {
        0% {
            margin-bottom: 0;
        }

        100% {
            margin-bottom: -120%;
        }
    }

    @keyframes top {
        0% {
            margin-bottom: -120px;
        }

        100% {
            margin-bottom: 0%;
        }
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: $z_fixed;
    transform: translateY(-100%);
    transition: 0.4s ease all;
    // padding: ;
    background: rgba(255, 255, 255, 0);
    &.sticky{
        transform: translateY(0%);

    }
    &.active{
        
        box-shadow: inset 0 -1px 0 0 var(#111);
        backdrop-filter: saturate(180%) blur(10px);
        background: rgba(255, 255, 255, 0.7);
    }
    &__inner{
        padding: $pd_nav;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        &-ol{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // gap: 35px;
        }
        &-li{
            margin: 0 35px;
            color: $primary_color;
        }
        &-logo{
            font-weight: $bold_font_weight;
        }
        &-button{
            margin-left: 30px;
            &_image{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__menu{
        display: none;
        &-img{
            width: 35px;
            // height: 70px;
            transition: 0.1s ease;
            display: flex;
            flex-direction: column;
            gap: 5px;
            &_line{
                height: 4px;
                border-radius: 20px;
                width: 100%;
                background-color: $accent_color;
            }
        }
    }
}

.scene{
    width: 100%;
    height: 100%;
    // left: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    // transform: translate(-50%);
    position: absolute;
    z-index: -1;
    background: radial-gradient(circle, rgb(211, 211, 211) 0%, rgb(234, 234, 234) 23%, rgba(255,255,255,1) 100%);
    // background-color: #202025;
    // background-color: #111;
    // background-color: $bg_color;
    &__inner{
        opacity: 0.99;
        // background-color:rgb(200, 255, 238);
        // border-radius: 20px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    // padding: 30px;
}

.landing{
    position: relative;
    text-align: center;
    pointer-events: none;
    &__button{
        pointer-events: auto;
    }
    &__signature{
        width: 120px;
        margin:20px auto;
        & svg{
            & path{
                stroke-dasharray: 400%;
                stroke-dashoffset: 0;
                animation: dash 2s alternate linear;
                stroke: $bg_color;
                mix-blend-mode: exclusion;
            }
        }
    }
    &__title{
        & h1{
            font-size: $big_font_size;
    color: $bg_color !important;
            mix-blend-mode: exclusion;
        }
    }
    &__info{
        & p{
            // color: $primary_color;
    color: $bg_color !important;
    mix-blend-mode: exclusion;

        }
    }
}

@keyframes dash {
    from {
      stroke-dashoffset: 400%;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

body{
    position: relative;
    z-index: -2;
    // background-color: #ffffff;
}

.cursor{
    position: fixed;
    left: 0;
    top: 0;
    width: 10px;
    aspect-ratio: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid $primary_color;
    border-radius: 50%;
    display: none;
    pointer-events: none;
    &.active{
        display: block;
    }
}

.translator{
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: $secondary_color_3;
    border-radius: 30px;
    &__icon{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        transition: 0.3s ease background;
        & path{
            stroke: $primary_color;
        }
    }
    &__options{
        display: grid; 
        grid-template-rows: 0fr;
        transition: 370ms grid-template-rows ease;
    }
    &:hover .translator__options{
        grid-template-rows: 3fr;
    }
    &:hover .translator__icon{
        background-color: $primary_color;
        & path{
            stroke: $bg_color;
        }
    }
    &__option{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & span{
            padding: 10px 0;
            &.active{
                color: $secondary_color;
                text-decoration: underline;
            }
        }
    }
}

.block{
        &__inner{
            display: flex;
        }
        &__heading{
            position: sticky;
            left: 0;
            top: 95px;
            height: 10px;
            width: 30%;
            bottom: 100px;
        }
        &__content{
            width: 70%;
            &-stats{
                margin-top: 30px;
                width: 100%;
                display: flex;
                align-items: center;
                // justify-content: space-between;
            }
            &-stat{
                flex: 1;
                &_number{
                    font-weight: $bold_font_weight;
                    margin-bottom: 10px;
                    & span{
                        font-size: $h1_font_size;
                    }
                }
            }
            &-projects{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                margin-bottom: 20px;
            }
            &-articles{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 40px;
                margin-bottom: 20px;
            }
            &-title{
            }
            &-info{
                color: $secondary_color;
            }
            &-button{
                float: right;
            }
            &-test{
                width: 100%;
                height: 700px;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

.project-card{
    &__visual{
        margin-bottom: 10px;
        & video{
            width: 100%;
            border-radius: 15px;
        }
    }
    &__content{
        padding: 8px;
    }
}

.blog-card{
    position: relative;
    height: 450px;
    border-radius: 25px;
    overflow: hidden;
    padding: 20px;
    &__visual{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__title{
        color: $bg_color;
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,  rgba(0, 0, 0, 1)  0%, rgba(255, 255, 255, 0) 100%);
        z-index: -1;
        transition: 0.5s ease;
    }
    &:hover{
        &::before{
            opacity: 0.5;
        }
    }
}

.contact{
    &__banner{
        padding: 40px;
        border: 1px solid $secondary_color_2;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        &-buttons{
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }
        &-content{
            width: 60%;
        }
        &-visual{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 50%;
        }
    }
}

.about{
    background-color: $bg_color;
    &__inner{
        // background-color: #111;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__visual{
        width: 30%;
    }
    &__picture{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &-one,
        &-two{
            border: 1px solid $secondary_color;
            padding: 10px;
            position: absolute;
            height: 300px;
            width: 250px;
            background-color: $bg_color;
        }
        &-two{
            transform: translate(100px, -30px) rotate(6deg);
            z-index: 3;
        }
        &-one{
            transform: translate(-100px, 50px) rotate(-8deg);
            z-index: 2;
        }
    }
    &__content{
        width: 50%;
    }
    &__title{
        & h2{
            margin-top: 30px;
        }
    }
    // &__left{
    //     width: 50%;
    //     &-title{
    //         color: $bg_color;
    //         margin-bottom: 40px;
    //     }
    //     &-info{
    //         color: $bg_color;
    //     }
    // }
    // &__right{
    //     width: 40%;
    //     &-visual{
    //         // background-color: #111;
    //         width: 100%;
    //         border-radius: 20px;
    //         height: 350px;
    //         border-radius: 20px;
    //         overflow: hidden;
    //     }
    // }
    // &__banner{
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     // padding: $pd_medium;
    //     padding: 60px;
    //     border-radius: 30px;
    // }
}

.skills{
    position: relative;
    background-color: #1c1c1c;
    &__list{
        margin-top: 60px;
    }
    &__title{
        &.title{
            color: $bg_color;
        }
    }
    &__item{
        &-title{
            &.title{
                color: $bg_color;
                & h1{
                    margin-bottom: 0;
                    font-weight: $light_font_weight;
                }
            }
        }
        &-chips{
            display: flex;
            flex-wrap: wrap;
            gap: 10px 7px;
            &:has(.skills__item-chip){
                margin: 20px 0;
            }
        }
        &-chip{
            background-color: $bg_color;
            border-radius: 40px;
            & button{
                font-weight: $medium_font_weight;
            }
        }
    }
}

.divider{
    width: 100%;
    height: 50px;
    background-image: url('/images/skills-banner.png');
    background-repeat: repeat-x;
}

.experience{
    &__list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }
    &__item{
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid $secondary_color_2;
        position: relative;
        overflow: hidden;
        &-year{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #111;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            & span{
                color: white;
                font-size: $h3_font_size;
            }
        }
        &-left{
            height: 100%;
            width: 7%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &-right{
            padding: 20px 30px 10px 30px;
            margin-left: 7%;
            width: 100%;
            // display: grid; 
            // grid-template-rows: 0fr;
            // transition: 370ms grid-template-rows ease;
        }
        &-invisible{
            display: grid;
            grid-template-rows: 0fr;
            transition: 375ms grid-template-rows ease;
            overflow: hidden;
            // display: none;
        }
        &.active{
            & .experience__item-invisible{
                grid-template-rows: 1fr;
                // display: block;
            }

            & .experience__item-details{
                // display: block;
                visibility: visible;
            }

            & .experience__item-arrow{
                & svg{
                    transform: rotate(0deg);
                }
            }
        }
        // &:hover{
        //     // & .experience__item-right{
        //     //     grid-template-rows: 1fr 100%;
        //     // }
        //     & .experience__item-invisible{
        //         grid-template-rows: 1fr;
        //         // display: block;
        //     }

        //     & .experience__item-details{
        //         // display: block;
        //         visibility: visible;
        //     }

        //     & .experience__item-arrow{
        //         & svg{
        //             transform: rotate(0deg);
        //         }
        //     }
        // }   
        &-details{
            visibility: hidden;
            min-height: 0;
            transition: visibility 1s;
            color: $secondary_color;
        }
        &-visible{
            display: flex;
            flex-direction: column;
            position: relative;
        }
        &-description{
            &.info{
                & p{
                    margin-top: 0;
                    color: $secondary_color;
                }
            }
        }
        &-title{
            &.title{
                font-weight: $bold_font_weight;
            }
        }
        &-arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            width: 20px;
            height: 20px;
            & svg{
                width: 100%;
                height: 100%;
                transform: rotate(-180deg);
                transition: 375ms transform ease;
            }
        }
    }
}

.footer{
    &__inner{
        padding: $pd_nav;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        &-ol{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }
    }
    &__logo{
        font-weight: $bold_font_weight;
    }
    &__lower{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .info{
        & p{
            color: $secondary_color;
        }
    }
}

.achievements{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: ;
        gap: 20px;
        margin-top: 40px;
    }
    &__item{
        display: flex;
        border: 1px solid $secondary_color_2;
        border-radius: 15px;
        &-left{
            width: 20%;
            border-right: 1px solid $secondary_color_2;
        }
        &-picture{
            & img{
                aspect-ratio: 1;
            }
        }
        &-right{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-info{
            &.info{
                & p{
                    margin-top: 0;
                    color: $secondary_color;
                }
            }
        }
    }
}