// colors
$primary_color: #1c1c1c;
$primary_color_2: #0d0d0d; 
$primary_color_3: #848484;
$secondary_color: #c6c6c6;
$secondary_color_2: #e4e4e4;
$secondary_color_3: #f4f4f4;
$secondary_color_4: #2b2b2b;
$bg_color: #FFF;
$fg_color: #000;
$blur_color: rgba(255, 255, 255, 0.7);
$blur_color_2: rgba(0, 0, 0, 0.627);
// $blur_color_2: rgba(0, 0, 0, 0.2);
$blur_border: 1.5px solid rgba(205, 205, 205, 0.5);
$backdrop_filter: saturate(180%) blur(5px);
// typography
$big_font_size: 56px;
$h1_font_size: 36px;
$h2_font_size: 27px;
$h3_font_size: 19px;
$h4_font_size: 16px;
$p_font_size: 1rem;
$p2_font_size: 14px;
$input_font_size: 14px;
$button_font_size: 15px;
$bolder_font_weight: 800;
$bold_font_weight: 700;
$medium_font_weight: 600;
$light_font_weight: 500;
$lighter_font_weight: 400;
// margin and padding
$mb_auto: 0 auto;
$pd_big: 170px 0;
$pd_medium: 130px 0;
$pd_small: 60px 0;
$pd_block: 60px 60px;
$pd_nav: 40px 0;
$pd_input: 14px 17px;
$pd_button: 10px 20px;
$pd_plate: 30px 30px;
$pd_medium_bottom: 0 0 80px 0;
// z-index
$z_tooltip: 10;
$z_fixed: 100;
$z_modal: 999;
$z_background: -2;
// media breakpoints
$breakpoint_desktop: 1550px;
$breakpoint_laptop: 1200px;
$breakpoint_laptop2: 1010px;
$breakpoint_tablet: 850px;
$breakpoint_phone: 615px;
$breakpoint_phone_two: 470px;
// border radius
$input_radius: 10px;
$button_radius: 30px;
$plate_radius: 13px;