@use 'style' as *;
@use 'vars' as *;

@media screen and (max-width: $breakpoint_laptop){
    .header{
        &__nav{
            &-li{
                margin: 0 20px;
            }
        }
    }

    .container{
        max-width: 1000px;
    }
}


@media screen and (max-width: $breakpoint_laptop2) {

    .projects{
        &__list{
            grid-template-columns: 1fr 1fr;
        }
    }
    .list{
        grid-template-columns: 1fr 1fr;
    }
    .header{
        &__nav{
            &-ol{
                display: none;
            }
            
            &-menu{
                display: block;
            }
            &-link{
                display: none;
            }
        }

        
    }

    .about{
        &__inner{
            flex-direction: column;
            gap: 50px;
        }
        &__visual{
            width: 100%;
        }
        &__content{
            width: 100%;
        }
        &__picture{
            &-one,
            &-two{
                width: 100%;
            }
            &-two{
                transform: translate(-50px, -50px) rotate(6deg);
            }
            &-one{
                transform: translate(50px, 50px) rotate(-8deg);
            }
        }
    }

    .inner{
        padding: 100px 0;
        &__big{
            padding: 140px 0;
        }
    }

    .container{
        padding: 0 30px;
        &__fluid{
            padding: 0 20px;
        }
    }

    .header{
        padding: 14px 0;
    }

    .experience{
        &__inner{
            flex-direction: column;
            gap: 40px;
        }
        &__left{
            position: static;
            width: 100%;
        }
        &__right{
            width: 100%;
        }
        &__card{
            &-content{
                width: 100%;
            }
        }
    }

    .services{
        &__grid{
            grid-template-columns: repeat(2, 1fr);
        }
        &__content{
            flex-direction: column;
        }
        &__title{
            width: 100%;
        }
        &__info{
            width: 100%;
        }
    }

    .block{
        &__inner{
            flex-direction: column;
            gap: 40px;
        }
        &__heading{
            position: inherit;
            height: auto;
            width: 100%;
        }
        &__content{
            width: 100%;
        }
    }

    .contact{
        &__banner{
            flex-direction: column;
            &-content{
                width: 100%;
            }
        }
    }

    .project{
        &__block{
            flex-direction: column;
            gap: 60px;
            &-tags{
                width: 100%;
            }
            &-gallery{
                width: 100%;
            }
            &-title{
                position: static;
            }
        }
        &__features{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: $breakpoint_tablet) {
    .projects{
        &__list{
            grid-template-columns: 1fr;
        }
    }

    .list{
        grid-template-columns: 1fr;
    }

    .contact{
        &__content{
            padding: 0;
            max-width: 100%;
            margin-bottom: 20px;
        }
        &__container{
            flex-direction: column-reverse;
            gap: 20px;
        }
        &__left{
            width: 100%;
        }
        &__right{
            width: 100%;
        }
    }


    .services{
        &__grid{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .project{
        &__container{
            flex-direction: column;
        }
        &__header{
            flex-direction: column;
            gap: 20px;
            width: 100%;
            &-left,
            &-right{
                width: 100%;
            }
        }
        &__video{
            width: 100%;
        }

        &__footer{
            flex-direction: column;
            gap: 40px;
        }
        &__section{
            width: 100%;
        }

    }
}

@media screen and (max-width: $breakpoint_phone) {
    *{
        cursor:auto !important;
    }
    body{
        cursor: auto !important;
    }
    .cursor{
        display: none;
    }
    .block{
        &__content{
            &-stat{
                width: 30%;
                flex: initial;
            }
            &-stats{
                justify-content: space-between;
            }
            &-projects{
                grid-template-columns: 1fr;
            }
        }
    }

    .projects{
        &__list{
            &-items{
                grid-template-columns: 1fr;
            }
            &-filter{
                &_up{
                    flex-direction: column;
                    gap: 10px;
                }
                &_search{
                    width: 100%;
                }
                &_select{
                    width: 100%;
                }
            }
        }
    }

    .select{
        width: 100%;
        &__button{
            width: 100%;
        }
    }

    .contact{
        &__banner{
            border-radius: 20px;
            padding: 30px;
            &-buttons{
                justify-content: space-between;
            }
            &-button{
                width: 50%;
            }
        }
    }

    .footer{
        &__upper{
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
        &__nav{
            display: none;
            &-ol{
                flex-wrap: wrap;
                gap: 20px;
            }
        }
        &__lower{
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__details{
            width: 100%;
            display: none;
        }
    }

    .project{
        &__block{
            &-gallery{
                column-count: 1;
            }
        }
        &__features{
            grid-template-columns: 1fr;
        }
        &__techs{
            grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        }
    }

    .link{
        font-size: 16px;
    }

    .title{
        h1{
            font-size: 36px;
        }
        h2 {
            font-size: 24px;
        }

        h3{
            font-size: 18px;
        }
    }

    .info{
        & p{
            font-size: 16px;
            margin-top: 0;
        }
    }

    .about{
        &__visual{
            padding: 0px;
            position: relative;
        }
        &__picture{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding: 70px;
            &-two{

            }
        }
    }

    .contact{
        &__banner{
            background:$primary_color;
            &-buttons{
                width: 100%;
                display: flex;
            }
        }
    }



    .experience{
        &__item{
            &-arrow{
                display: none;
            }
            &-right{
                padding: 15px 0 15px 20px;
                margin-left: 40px;
            }
            &-title{
                & h3{
                    margin-bottom: 0;
                }
            }
            &-left{
                width: 40px;
            }
            &-year{
                & span{
                    transform: rotate(-90deg);
                    font-size: 16px;
                }
            }
            &-details{
                &.info{
                    & p{
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .notification{
        &__list{
            padding: 0 30px;
            width: 100%;
            right: 0;
        }
    }
    .not-found{
        &__visual{
            &-digit{
                font-size: 10vh;
            }
        }
    }

    .landing{
        text-align: left;
        &__signature{
            display: none;
        }
        &__inner{
            height: auto;
            min-height: auto;
            padding: 200px 0;
        }
    }
}

@media screen and (max-width: $breakpoint_phone_two) {
    .block{
        &__content{
            &-stats{
                gap: 20px;
                flex-wrap: wrap;
            }
            &-stat{
                width: 100%;
            }
        }
    }

    .contact{
        &__banner{
            border-radius: 20px;
            padding: 30px;
            &-buttons{
                flex-direction: column;
                gap: 10px;
            }
            &-button{
                width: 100%;
            }
            &-visual{
                // display: none;
            }
            &-left{
                display: flex;
                flex-direction: column;
                // gap: 40px;
            }
        }

        &__social{
        }

        &__form{
            &-inputs{
                flex-direction: column;
            }
        }
    }
}